/* Fonts*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto:wght@300&display=swap')

/*Site Default Settings*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: #fff;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


hr {
    border: 2px solid #f0f0f0;

}

.headings {
    color: #E78200;
    font-family: 'PT Serif', serif;
}

/* Header */

.logo {
    background-image: url("https://res.cloudinary.com/myofficespace/image/upload/v1661628039/static/images/logo.ee76c40e67a4.png");

    background-position: left;
    background-repeat: no-repeat;
    background-size: fit;
    max-height: 200px;
    max-width: 100%;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    margin: 0 auto;

    ;
}



header {


    height: 100px;

}

#nav {
    float: right;

}

#nav li {
    float: left;
    display: flex;
    padding: 0 20px;
    text-decoration: none;
    line-height: 55px;


}

/* Cards */
.card {

    margin: 1%;
}



.card-body p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.card-body h2 h3 h6 {
    color: #E78200;
    font-family: 'PT Serif', serif;
}

.card-body h6,

.card-body p {
    display: inline;
    vertical-align: top;
    line-height: 20px;
}

.card-body h6 {
    font-weight: bold;
}

.card-img-top {
    height: 200px;

}

.card:hover {

    background-color: antiquewhite;
    cursor: pointer;
}





/* Footer */

footer {

    background-color: #fff;
    height: 100px;
    clear: both
}

.social-networks {
    text-align: center;
    color: #E78200
}

.social-networks>li {
    display: inline;

}

.social-networks i:hover {
    color: #333;
}

.social-networks i {
    font-size: 120%;
    height: 100px;
    line-height: 100px;
    padding-left: 1%;
    padding-right: 1%;

}


.icon-center {
    text-align: center;
}

i.fa.fa-trash {
    color: red;

}

i.fa.fa-trash:hover {
    color: rgb(143, 16, 16);
    cursor: pointer;

}