{% extends "base.html" %}


{% block content %}

<!-- Page content  Start-->
<div class="container-fluid">
    <div class="row">
        {% if user.is_authenticated %}

        <h1>Check Office Availability</h1>

        <div class="col-12 mt-3 left">
            <div class="row">
                <form action="" method="POST">
                    {% csrf_token %}

                    {{ form }}

                    <button type="submit" class="btn btn-success">Book Office</button>
                </form>
            </div>
        </div>
    </div>

    {% else %}

    <h1>Please login to make a booking</h1>

    {% endif %}

</div>
<!-- Page content End -->

{% endblock %}