{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Kids PLay Club where kids can have fun and learn at the same time">
    <meta name="keywords" content="aftercare school, kids club, swimming, arts and craft, summer camps, music lessons">

    <!--Google Fonts Start-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!--Google Fonts End-->

    <!--CSS Stylesheet Start-->

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}

    <!--CSS Stylesheet End-->

    {% block extra_css %}
    {% endblock %}
    <!--CSS Stylesheet End-->
    <!--CSS Javascript Start-->

    {% block corejs %}
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}


    <!--CSS Javascript End-->

    <!--favicon Start-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="manifest" href="/site.webmanifest">

    <!--favicon End-->

    <title>My Office Space</title>
</head>

<body>
    <header>
        {% if messages %}
        <div class="message-container">
            {% for message in messages %}
            {% with message.level as level %}
            {% if level == 40 %}
            {% include 'includes/toasts/toast_error.html' %}
            {% elif level == 30 %}
            {% include 'includes/toasts/toast_warning.html' %}
            {% elif level == 25 %}
            {% include 'includes/toasts/toast_success.html' %}
            {% else %}
            {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
            {% endwith %}
            {% endfor %}
        </div>
        {% endif %}
        <div class="row no-gutters">
            <a class="col-md-4 logo" href="/"></a>
            <div class="col-md-8">
                <div class="row no-gutters bg-color-name-title">
                </div>
                <ul id="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/office_bookings/">My Bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout'  %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup'  %}">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login'  %}">Login</a>
                    </li>
                    {% endif %}
                    </a>
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
    </header>
    <hr>

    <main class="flex-shrik-0 main-bg container">

        {% block content %}

        <!-- Content goes here-->

        {% endblock content %}

    </main>

    <hr>

    <footer>
        <ul class="social-networks">
            <li>
                <a href="http://facebook.com" target="_blank" rel="noopener" aria-label="Visit our Facebook page (opens in new tab)"><i class="fab fa-facebook"> Facebook</i></a>
            </li>
            <li>
                <a href="http://twitter.com" target="_blank" rel="noopener" aria-label="Visit our Twitter page (opens in new tab)"><i class="fab fa-twitter"> Twitter</i></a>
            </li>
            <li>
                <a href="http://youtube.com" target="_blank" rel="noopener" aria-label="Visit our Youtube page (opens in new tab)"><i class="fab fa-youtube"> Youtube</i></a>
            </li>
            <li>
                <a href="http://instagram.com" target="_blank" rel="noopener" aria-label="Visit our Instagram page (opens in new tab)"><i class="fab fa-instagram">
                        Instagram</i></a>
            </li>

        </ul>

    </footer>

    <!--Font Awesome Script Start-->

    <script src="https://kit.fontawesome.com/71b772ea4c.js" crossorigin="anonymous"></script>

    <!--Font Awesome Script End-->

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}

</body>


</html>

</script>