{% extends "base.html" %}

{% block content %}

<!-- Page content  Start-->

<div class="container-fluid">
    <div class="row">
        <h1>Check Office Availiblity</h1>

        <div class="col-12 mt-3 left">
            <div class="row">
                <form action="" method="POST">
                    {% csrf_token %}

                    {{ form }}

                    <button type="submit" class="btn btn-success">Send Feedback</button>
                </form>
            </div>
        </div>
    </div>



</div>

<!-- Page content End -->

{%endblock %}