{% extends "base.html" %}

{% block content %}

<!-- Page content  Start-->

<div class="container-fluid">
    <div class="row">
        <h1>Select an Office</h1>

        <div class="col-12 mt-3 left">
            <div class="row">
                {% for office_spaces in object_list %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ office_spaces.office_image.url }}" alt="{{ office_spaces.description }}">
                    <div class="card-body">
                        <h3 class="card-text"><strong>Office Name</strong></h3>
                        <h4>{{office_spaces}}</h4>
                        <p><strong>Size: </strong>{{office_spaces.office_type}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!--Pagination Start -->

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}

    <!--Pagination End -->

</div>

<!-- Page content End -->

{%endblock %}