{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

    <div class="row">
        <h1 class="headings">My Bookings</h1>
        <table class="table">
            <thead>
                <tr>

                    <th scope="col">Office Name</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col" class="icon-center">Delete</th>

                </tr>
            </thead>
            <tbody>
                {% for office_spaces_booked in object_list %}
                <tr>
                    <td>{{office_spaces_booked.Office_Space_id}}</td>
                    <td>{{office_spaces_booked.start_datetime}}</td>
                    <td>{{office_spaces_booked.end_datetime}}</td>
                    <td class="icon-center"><i class="fa fa-trash" aria-hidden="true"></i></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>


        <!--Pagination Start -->

        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

                {% endif %}
            </ul>
        </nav>
        {% endif %}

        <!--Pagination End -->
    </div>
</div>
{%endblock %}
</body>

</html>